{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My Blood Pressure | Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
		<form class="form-signin" method="POST" action="/signup">
			<h2 class="form-signin-heading">Sign Up</h2>
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.email) }}
			{{ wtf.form_field(form.password) }}
			{{ wtf.form_field(form.confirm_password) }}
			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" name="login">Sign Up</button>
			<em>Already registered?</em><a href="{{ url_for('login') }}"> Log in</a>
		</form>

</div>
{% endblock %}
