{% extends "base.html" %}
{% block content %}
<h1>Yakahu is a test app</h1>
<article class="media content-section">
    <div class="media-body">
    
    <p>This app is NOT meant to replace your doctor's advice, your own or the 'official' high blood pressure standards.</p>
    <p>The main purpose of this app is to keep a record of your blood pressure readings. You must use a blood pressure monitor to gather 
    systolic and diastolic readings. I developed this simple app to keep my own blood pressure readings and share them with my doctor.</p>
    <p>I found I was having White Collar Syndrome Blood Pressure. This led me to have a way to keep a BP record at home when I feel relax. </p>
</div>
</article>
            
{% endblock content %}