{% extends "bootstrap/base.html" %}
{% from 'bootstrap/wtf.html' import form_field %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- {% from "_render_field.html" import render_field %} -->

{% block title %}
Dashboard | My BP
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My BP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>

            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('reports') }}">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="{{ url_for('export') }}">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }} <a href="{{ url_for('newreading') }}" class="btn btn-success"> New Reading</a></h1>




<!-- Displays flash message -->
            {% with messages = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">X</span>
              </button>
              {{message}}
            </div>



            {% endfor %}

            {% endif %}

            {% endwith %}
            <!-- End Displays flash message -->
          <h2 class="sub-header">Latest readings<h2>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">

              <h4>May 5, 2020 1:11AM</h4>
              <span class="text-muted">125/89</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>2/21/2020</h4>
              <span class="text-muted">120/80</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Feb 21, 2020</h4>
              <span class="text-muted">135/85</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>2/21/20 at 10:15AM</h4>
              <span class="text-muted">145/75</span>
            </div>
          </div>

          <h2 class="sub-header">Readings history</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Systolic</th>
                  <th>Diastolic</th>
                  <th>Notes</th>
                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
{% for row in user_readings %}

                <tr>
                  <td>{{row.id}}</td>
                  <td>{{row.date}}</td>
                  <td>{{row.systolic}}</td>
                  <td>{{row.diastolic}}</td>
                  <td>{{row.notes}}</td>
                  <td><a href="/editreading/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                      <a href="/deletereading/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
                  </td>

                </tr>

                <!-- Modal Edit readings -->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
          <h4 class="modal-title">Update readings</h4>
        </div>

<div class="modal-body">
  <form action="{{url_for('editreading')}}" method="POST">

    <div class="form-group">
      <label>Date</label>
      <input type="hidden" name="id" value="{{row.id}}">
      <input type="date" class="form-control" name="date" value="{{row.date}}">
      </div>

      <div class="form-group">
        <label>Systolic:</label>
        <input type="number" class="form-control" name="systolic" value="{{row.systolic}}">
      </div>

      <div class="form-group">
        <label>Diastolic:</label>
        <input type="number" class="form-control" name="diastolic" value="{{row.diastolic}}">
      </div>

      <div class="form-group">
        <label>Notes:</label>
        <input type="text" class="form-control" name="notes" value="{{row.notes}}">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>

    </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

              </tbody>

                {% endfor %}
            </table>
          </div>



          <!-- Modal add reading -->

        <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Add Reading</h4>
                </div>

                  <div class="modal-body">
                    <form method="POST" action="{{url_for('newreading')}}">

                      {{ form.hidden_tag() }}
                      {{ wtf.form_field(form.date) }}  <!--cambiar en auto populate fecha talvez-->
                      {{ wtf.form_field(form.systolic) }}
                      {{ wtf.form_field(form.diastolic) }}
                      {{ wtf.form_field(form.notes) }}
                      {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                      <!-- <div class="form-group">
                        <label>Systolic:</label>
                        <input type="number" class="form-control" name="systolic" required="1">
                      </div> -->

                      <!-- <div class="form-group">
                        <label>Diastolic</label>
                        <input type="number" class="form-control" name="diastolic" required="1">
                      </div> -->

                      <!-- <div class="form-group">
                        <label>Notes</label>
                        <input type="text" class="form-control" name="notes" required="0">
                      </div> -->

                      <!-- <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add Readings</button>
                      </div> -->

                    </form>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                 </div>
                 </div>
                 </div>

                 <!-- End add reading -->
        </div>
      </div>
    </div>
{% endblock %}
