{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
      <p>Last Reading {{ lreading.sys }} / {{ lreading.dia}}</p>
    </div>
  </div>

  <legend class="border-bottom mb-4">Dashboard</legend>
  
  
  <text class="font-weight-bold">Last Three Readings</text>
  <p>120/81 | 131/77 | 121/82</p>
  {# {% for reading in reading.items %} #}
  {# <p>{{ reading.sys }} {{ reading.dia }} - {{ reading.notes }}</p> #}
  
  
  {# {% endfor %} #}
  
  <br />
  

  <text class="font-weight-bold">Past Week Readings</text>
  <p>120/81 | 131/77 | 121/82</p>
</div>
{% endblock content %}