{% extends "base.html" %}
{% block content %}
#make this something atractivo con info para controlar la presion alta.
    
   <article class="media content-section">
      <img class="rounded-circle article-img" src="" />
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#"></a> 
          <text class="font-weight-bold"> </text>
          <text class="font-weight-bold"></text>
          <small class="text-muted">test</small> <!--Need to display local time to the user-->

        </div>
        <h2><a class="article-title" href="#"></a></h2><!--need to define the logic here. Por ahora esta bien.-->
          <p class="article-content"></p>
      </div>
    </article>
    
   
{% endblock content %}
