{% extends "base.html" %}
{% block content %}
    {% for readings in readings %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ readings.user }}</a>
          <small class="text-muted">{{ readings.date_posted }}</small>
          <small class="text-muted">{{ readings.sys }}</small>
          <small class="text-muted">{{ readings.dia}}</small>
        </div>
        <h2><a class="article-title" href="#">{{ readings.title }}</a></h2>
       <!----> <p class="article-content">{{ readings.notes }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
